extends layout
block content
  div.row
    div(class='large-12' class='columns')
      h1= title
  div.row
    div(class='large-12' class='columns')
      div.panel
        h3 List of Repos
          p
            ul(class='small-block-grid-2 medium-block-grid-3 large-block-grid-4')
              each repo, i in repos
                li= repo.name
